apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "directus.fullname" . }}-directus
  labels:
    app: {{ template "directus.name" . }}-directus
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    helm.sh/hook: post-install
    helm.sh/hook-weight: '3'
    helm.sh/hook-delete-policy: before-hook-creation
spec:
  strategy:
    type: {{ .Values.config.updateStrategy }}
  template:
    metadata:
      labels:
        app: {{ template "directus.name" . }}-directus
        release: {{ .Release.Name }}
    spec:
      restartPolicy: OnFailure
      containers:
        - name: {{ template "directus.fullname" . }}-directus
          image: {{ .Values.images.directus.repository }}:{{ .Values.images.directus.tag }}
          imagePullPolicy: {{ .Values.config.imagePullPolicy }}
          command:
            - /bin/sh
            - -c
            - |
              install --email {{ .Values.config.directus.email }} --password "{{ .Values.config.directus.password }}"
          env:
            - name: DIRECTUS_APP_ENV
              value: production
            - name: DIRECTUS_AUTH_PUBLICKEY
              valueFrom:
                configMapKeyRef:
                  name: {{ template "directus.fullname" . }}
                  key: auth_public_key
            - name: DIRECTUS_AUTH_SECRETKEY
              valueFrom:
                secretKeyRef:
                  name: {{ template "directus.fullname" . }}
                  key: auth_secret_key
            - name: DIRECTUS_DATABASE_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ template "directus.fullname" . }}
                  key: mysql_host
            - name: DIRECTUS_DATABASE_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ template "directus.fullname" . }}
                  key: mysql_port
            - name: DIRECTUS_DATABASE_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ template "directus.fullname" . }}
                  key: mysql_database
            {{- if .Values.config.mysql.internal }}
            - name: DIRECTUS_DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ template "directus.fullname" . }}-mysql-auth
                  key: username
            {{- else }}
            - name: DIRECTUS_DATABASE_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: {{ template "directus.fullname" . }}
                  key: mysql_username
            {{- end }}
            {{- if .Values.config.mysql.internal }}
            - name: DIRECTUS_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "directus.fullname" . }}-mysql-auth
                  key: password
            {{- else }}
            - name: DIRECTUS_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "directus.fullname" . }}
                  key: mysql_password
            {{- end }}
