apiVersion: v1
kind: Secret
metadata:
  name: {{ template "keycloak.fullname" . }}
  labels:
    app: {{ template "keycloak.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  password: {{ .Values.config.password | b64enc }}
  {{- $postgres := .Values.config.postgres }}
  postgres_url: {{ $postgres.url | b64enc }}
  postgres_password: {{ $postgres.password | b64enc }}
